/* components styles */

.Header {
    font-size: 5rem;
}

.cards {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    display: flex;
    width: 48%;
    margin: 1rem 0;
    background-color: tan;
    border: 3px solid black;
    opacity: 0.8;
}

img {
    width: 250px;
    height: 250px;
    margin: 1rem;
}

.profile h1 {
    text-align: start;
    font-size: 1.2rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1rem;
    line-height: 0.8rem;
    text-align: start;
}